<h2<%=t :title_resend_conf %></h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group">
    <%= f.label t(:email) %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
  </div>

  <div class="form-group">
    <%= f.submit t(:resend_conf)%>
  </div>
<% end %>

<dev class="form-group">
  <%= render "devise/shared/links" %>
</dev>
