<h2> <%= t :edit %> <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group">
    <%= f.label t(:email) %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div> <%= t :pending_confirmation %><%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group">
    <%= f.label t(:password) %> <i> ( <%=t :leave_blank %> )</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> <%= t :chars_min %>></em>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label t(:confirm_new_password) %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="form-group">
    <%= f.label t(:current_password) %> <i>( <%= t :need_current_password %>)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="form-group">
    <%= f.submit t(:update) %>
  </div>
<% end %>

<h3> <%= t :cancel_account %></h3>

<p><%= t :unhappy %>> <%= button_to t(:cancel_account), registration_path(resource_name), data: { confirm: t(:confirm) }, method: :delete %></p>

<dev class="form-group">
  <%= link_to t(:back), :back %>
</dev>
