<h2><%=t :sign_up %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group">
    <%= f.label t(:email) %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="form-group">
    <%= f.label t(:password) %>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> <%=t :chars_min %>)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="form-group">
    <%= f.label t(:password_confirmation) %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="form-group">
    <%= f.submit t(:sign_up) %>
  </div>
<% end %>

<dev class="form-group">
  <%= render "devise/shared/links" %>
</dev>
