<h2><%= t :change_password %></h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="form-group">
    <%= f.label :password, t(:new_password) %><br/>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length%> <%= t(:chars_min) %> )</em><br />
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, t(:confirm_new_password) %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="form-group">
    <%= f.submit t(:change_password) %>
  </div>
<% end %>

<div class="form-group">
  <%= render "devise/shared/links" %>
</div>
