<h2><%= t :forgot_password %></h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group">
    <%= f.label t(:email) %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="form-group">
    <%= f.submit t(:'devise.passwords.send_instructions') %>
  </div>
<% end %>

<div class="form-group">
  <%= render "devise/shared/links" %>
</div>
