
<%= simple_form_for(@concert) do |f| %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :band, label: t(:band)%>
    <%= f.input :place, label: t(:place) %>
    <%= f.input :start_time, label: t(:start_time)%>
  </div>

  <div class="form-actions">
    <%= f.submit t(:create)%>
  </div>
<% end %>
