<h1><%= t(:edit_concert) %></h1>

<%= render 'form', concert: @concert %>
<%= button_to t(:show), @concert, :method => "get" %>
<%= button_to t(:back), concerts_path, :method => "get" %>


<%= month_calendar(attribute: :starts_at) do |date| %>
  <%= date.day %>
<% end %>

