<p id="notice"><%= notice %></p>

<h1><%= t(:'header.concerts') %></h1>
<%= month_calendar events: @concerts do |date, concerts| %>
  <%= date.day %>

  <% concerts.each do |concert| %>
    <div>
      <%= concert.band %>
    </div>
    <div>
      <%= concert.place %>
    </div>
    <div>
      <%= link_to t(:edit_concert), edit_concert_path(concert) %>
    </div>
    <div>
      <%= link_to t(:remove), concert, method: :delete, data: { confirm: t(:'edit.sure') } %>
    </div>
  <% end %>
<% end %>

<br>

<%= button_to t(:new_concert), new_concert_path, :method => "get" %>
