<p id="notice"><%= notice %></p>

<p>
  <strong><%= t(:band) %>:</strong>
  <%= @concert.band %>
</p>

<p>
  <strong><%= t(:place) %>:</strong>
  <%= @concert.place %>
</p>

<p>
  <strong><%= t(:start_time) %>:</strong>
  <%= @concert.start_time %>
</p>

<%= link_to t(:back), edit_concert_path(@concert) %>
<%= link_to t(:cancel), concerts_path %>
