<h2><%= t :log_in %></h2>


<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <%= f.label t(:email) %><br/>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="form-group">
    <%= f.label t(:password) %><br/>
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="form-group">
      <%= f.check_box :remember_me %>
      <%= f.label t(:remember_me) %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.submit t(:log_in) %>
  </div>
<% end %>

<div class="form-group">
  <%= render "devise/shared/links" %>
</div>