<h1><%= t(:'edit.edit_concert') %></h1>

<%= simple_form_for @item do |f| %>
  <%= f.input :name, label: t(:'edit.task') %>
  <%= f.input :description, label: t(:'edit.description') %>
  <%= f.button :submit, t(:'edit.reedit') %>
<% end %>