<div align="center"><h1><%=t(:i_wish_for)%></h1>
<br>
<p><%= t(:wishing_for_text_html) %></p>
<button type="button" class="btn btn-default"><%= link_to t(:new_concert), new_item_path %></button>
</div>
  <% @items.each do |item| %>
    <div class="row item" id="row">
      <% if item.completed? %>
        <div class="col-md-6">
          <h1><s><%= link_to item.name, item %></s></h1>
          <p><%= time_ago_in_words(item.completed_at) %> <%= t(:ago) %></p>
        </div>
        <div class="col-md-2">
        </div>
      <% else %>
        <div class="col-md-6">
          <h1><%= link_to item.name, item %></h1>
          <p><%= item.description %></p>
        </div>
        <div class="col-md-2">
          <%= link_to complete_item_path(item), method: :patch do %>
            <h2><%= t(:wish_fulfilled) %></h2>
          <% end %>
        </div>
      <% end %>
    </div>
<% end %>