<h1><%= t(:'edit.add') %></h1>

<%= simple_form_for @item do |f| %>
  <%= f.input :name, label: t(:'edit.concert') %>
  <%= f.input :description, label: t(:'edit.description') %>
  <%= f.button :submit, t(:'edit.create') %>
<% end %>