<h2><%= @item.name %></h2>
<p><%= @item.description %></p>

<%= link_to t(:'edit.return'),'index' %>

<%= link_to t(:'edit.reedit'), edit_item_path %>

<%= link_to t(:'edit.delete') , item_path(@item), method: :delete, data: {confirm: t(:'edit.sure')}%>





