/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "simple_calendar";


.form-group {
  margin-left: 5em;
}

h2 {
  margin-left: 2em;
}

#head{
  margin: 8px 0px 0px 0px;
}

#header p{
  margin: 0px 0px 0px -5px;
}

#footer{
  margin: 0px 0px 0px -120px;
  position: absolute;
  bottom: 0;
  left: 50%;
}

#footer p{
  margin: 0px 0px 0px -5px;
}

#engDeu{
  margin: 0px 0px 0px 8px;
}

#log{
  margin: 0px 10px 0px 0px;
}
#row {
  margin: 0px 0px 0px 20%;
}
