<p>Hello <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p><%= t(:'mailer.email_changed') %><%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p><%= t(:'mailer.email_changed')%><%= @resource.email %>.</p>
<% end %>
