<p><%= t(:hello)%><%= @resource.email %>!</p>

<p><% t(:'mailer.link_to_password') %></p>

<p><%= link_to t(:change_password), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%=t(:'mailer.ignore') %></p>
<p><%= t(:'mailer.info_change') %></p>
