<p>Hello <%= @resource.email %>!</p>

<p><%= t(:'mailer.account_locked') %></p>

<p><%= t(:'mailer.click_unlock') %></p>

<p><%= link_to t(:'mailer.unlock_account'), unlock_url(@resource, unlock_token: @token) %></p>
