
<table id="footer">
  <td><p><%= link_to(t(:'footer.imprint'),demo_impressum_path) %> |</p></td>
  <td><p><%= link_to(t(:'footer.privacy'),demo_datenschutz_path) %> |</p></td>
  <td><p><%= link_to(t(:'footer.contact'),demo_kontakt_path) %> </p></td>
</table>