
<table id="header">
  <td><p><%= link_to(t(:'header.home'), welcome_index_path) %> |</p></td>
  <td><p><%= link_to(t(:'header.articles'), demo_artikel_path )%> |</p></td>
  <td><p><%= link_to(t(:'header.gallery'),demo_galerie_path) %> |</p></td>
  <td><p><%= link_to(t(:'header.music'),demo_musik_path) %> |</p></td>
  <td><p><%= link_to(t(:'header.concerts'),concerts_path) %> |</p></td>
  <td><p><%= link_to(t(:'header.shop'),demo_shop_path) %> |</p></td>
  <td><p><%= link_to(t(:'header.wunschkonzert'),demo_todo_path) %></p></td>
</table>