<!DOCTYPE html>
<html>
<head>
  <title>MusicBlog</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

<div class="container">
  <div  id="table" align="center">
    <table>
      <tr>
        <td><div id="log">
          <% if user_signed_in? %>
            <%= link_to( t(:'application.log_out'), destroy_user_session_path, method: :delete) %>
          <% else %>
            <%= link_to( t(:log_in), new_user_session_path) %>
          <% end %>
        </div> </td>
        <td><div id="head"><%=render "layouts/header"%></div></td>
        <td>   <!--So the user can change the language Settings in the Browser -->
          <div id="engDeu">
            <%= link_to_unless I18n.locale == :en, "English", locale: :en %>
            |
            <%= link_to_unless I18n.locale == :de, "Deutsch", locale: :de %>
          </div>  </td>
      </tr>
    </table></div>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>
  <%=render "layouts/footer" %>
</div>
</body>
</html>